@model aspnet_core_basic.Models.Restaurant 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
<body>
<h1>@Model.Name</h1> 
<p>The id of this restaurant is @Model.Id</p>
</body>
</html>